* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Georgia;
  outline: soli 1px white;
}

.body {
  display: flex;
  flex-direction: column;
}

.logo a {
  font-size: 24px;
  color: rgb(249, 250, 248);
  font-weight: 900;
}

.logo {
  padding-bottom: 75px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  gap: 24px;
  padding-bottom: 75px;
}

a,
.description,
.content-text {
  color: #a2aaad;
  text-decoration: none;
  font-size: 18px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: rgb(249, 250, 248);
}

.left-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}

.top-section {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  padding-top: 10px;
}

img {
  width: 500px;
  height: 250px;
}

.button {
  background-color: #3882f6;
  width: 150px;
  padding: 6px 12px;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button a {
  color: rgb(249, 250, 248);
}

.top-image {
  padding-bottom: 48px;
}

.content-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.content-body {
  display: flex;
  gap: 48px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content-pair {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-image img {
  max-width: 150px;
  max-height: 150px;
}

.content-text {
  max-width: 150px;
  text-align: center;
  padding-top: 24px;
}

.content-image {
  border: 5px solid #3882f6;
  border-radius: 11px;
}

.testimonial-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 32px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonial-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  max-width: 800px;
}

.testimonial-credentials {
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
}

.testimonial-text {
  font-style: italic;
  color: #a2aaad;
}

.action-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3882f6;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.butto {
  background-color: #3882f6;
  width: 100px;
  padding: 6px 12px;
  border-radius: 7px;
  border: 1px solid white;
  outline: none;
  color: white;
  cursor: pointer;
}

.butto a {
  color: white;
  font-size: 12px;
}

.action-header {
  color: white;
  font-size: 20px;
}

.action-text {
  font-size: 15px;
  color: #a2aaad;
}

.action-mini-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer-text {
  color: white;
  font-size: 12px;
}
